#dynmodel_fields_table tbody > tr:last-of-type .js_dynmodel_link_move_down_field {
  display: none;
}
#dynmodel_fields_table tbody > tr:last-of-type .js_dynmodel_link_move_up_field {
  margin-right: 16px;
}
#dynmodel_fields_table tbody > tr:first-of-type .js_dynmodel_link_move_up_field {
  display: none;
}
.panel .table {
  margin-bottom: 0;
}
